.abilities {
	margin: .3em;
    width: 12em;
    text-align: center;
}

.abilities-title {
	font-size: .6em;
}

.ability-name {
	padding: .2em;
}

.ability-name-short {
	display: block;
	font-size: .9em;	
}

.ability-name-long {
	display: block;
	font-size: .5em;	
}

.ability-value, .ability-modifier {
	border: 1px solid black;
}
