.core {
	display: flex;
	flex-wrap: wrap;
}

.abilities {
	margin: .3em;
    width: 17em;
    text-align: center;
}

.abilities-title {
	font-size: .6em;
}

.ability-base-wrap {
	text-align: right;
}

.ability-data {
	width: 3.4em;	
}

.ability-name-short {
	text-transform: uppercase;
}

.ability-base {
	border: 0;
	width: 3em;
	text-align: center;
	color: #666;
}

.hp {
	width: 7em;
}

.hp, .initiative, .ac, .touchAC, .flatfootedAC {
	margin: .45em;
}

.initiative-title, .initiative-bonus, 
.ac-title, .ac-bonus {
	display: inline-block;
	vertical-align: top;
}

.initiative-bonus, .ac-bonus {
	padding: .2em;
}