.core {
	display: flex;
	flex-wrap: wrap;
}

.abilities {
	margin: .3em;
    width: 17em;
    text-align: center;
}

.abilities-title {
	font-size: .6em;
}

.ability-base-wrap {
	text-align: right;
}

.ability-data {
	width: 3.4em;	
}

.ability-name-short {
	text-transform: uppercase;
}

.ability-base {
	border: 0;
	width: 3em;
	text-align: center;
	color: #666;
}

.hp {
	width: 7em;
}

.hp, .initiative, .ac,
.touchAndFlat {
	margin: .45em;
}

.initiative {
	display: flex;
	flex-wrap: wrap;
}

.initiative-title, .ac-title {
	margin-right: .5em;
	height: 1.6em;
	flex-basis: 3em;
	flex-shrink: 0;
}

.initiative-bonus, .ac-bonus {
	padding: .2em;
}

.ac {
	display: flex;
	width: 42em;
}

.ac-title, .ac-bonus {
	display: inline-block;
	vertical-align: top;
}
