body {
	margin: 1em;
}

.personal{
	display: flex;
	flex-wrap: wrap;
}

.personal-item-smallWrapper {	
	display: flex;
	flex-grow: 1;
	flex-basis: 12em;
}

.personal-item-smallWrapper .personal-item {
	flex-basis: 0;
	flex-grow: 1;
}

.personal-item {
	display: inline-block;
	flex-grow: 1;
	flex-basis: 4em;
	margin: .2em;
}

.personal-item.name, .personal-item.player {
	flex-grow: 1;
	flex-basis: 9em;
}

.personal-item.classes {
	flex-grow: 1;
	flex-basis: 20em;
}

.personal-item-label {
	border-top: 1px solid black;
	font-size: .7em;
	width: 100%;
	display: inline-block;
}

.abilities {
	border-collapse: separate;
    width: .7em;
    text-align: center;
}

.ability {
	    font-weight:normal;
}

.ability-name {
	color:white;
	background-color:black;
}

.ability-value, .ability-modifier {
	border: 1px solid black;
	border-spacing: 50px 0;
}
